.Item {
    margin: 10px auto;
    padding: 6px;
    border: rgb(49, 49, 49);
    background-color: rgb(235, 235, 243);
    border-style: solid;
    border-radius: 3px;
    box-shadow: 0px 2px 6px;
    width: 80vw;
}